.my-patients-table {
  width: 98%;
  border-collapse: collapse;
}

.my-patients-table th,
.my-patients-table td {
  padding: 10px;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevent text from wrapping */
}

.my-patients-table th  {
  background-color: #918f8f;
  text-align: left;
  /* font-size: 14px; */
  
}

.my-patients-table td {
  font-size: 14px;
}

/* .my-patients-table th:first-child,
.my-patients-table td:first-child {
 
} */

/* .my-patients-table th:last-child,
.my-patients-table td:last-child {
  padding-right: 8px;
} */

.my-patients-table tr:hover {
  background-color: #f5f5f5;
}

.patient-name {
  text-decoration: none;
  color: #1890ff;
}

.patient-name:hover {
  text-decoration: underline;
}
/* Add this CSS to your MyPatients.css file */

.my-patients-table th {
  font-weight: normal;
  color: inherit;
}
